/.vscode

/main_cpp.exe
cpp/dump.cpp
cpp/solutions/*.cpp
cpp/solutions/1.cpp

/main_c.exe
c/dump.c
c/solutions/*.c
!c/solutions/1.c

.venv/
python/dump.py
__pycache__/
python/solutions/*.py
!python/solutions/1.py