/.vscode

/main_cpp.exe
/src/cpp/dump.cpp
/src/cpp/solutions/*.cpp
!src/cpp/solutions/1.cpp

/main_c.exe
/src/c/dump.c
/src/c/solutions/*.c
!src/c/solutions/1.c

.venv/
/src/python/dump.py
/src/python/__pycache__
/src/python/solutions/*.py
!src/python/solutions/1.py